.multi-select-mui {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  min-width: 260px;

  &__label {
    margin-bottom: 4px;
    font-size: 12px;
  }

  &__placeholder {
    position: absolute;
    top: 36px;
    left: 16px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary);
    opacity: 0.5;
  }

  &__select-wrap {
    margin-top: 0;
    font-family: inherit;
    border: 1px solid rgba(32, 69, 105, 0.3);
    border-radius: 4px;

    &:before,
    &:after {
      display: none;
    }
  }

  &__select {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 32px;
    min-height: 48px;
    font-size: 14px;
    color: var(--primary);

    &:focus {
      background: transparent;
    }
  }

  &__icon {
    box-sizing: content-box;
    padding-left: 8px;
    padding-right: 8px;
  }

  &__checkbox {
    margin-right: 8px;
  }

  &__list-item {
    font-family: var(--font);
    font-size: 14px;
  }
}
