.radio-mui {
  padding: 0;
  color: var(--info);

  &--checked {
  }

  &--disabled {
  }

  &--padding {
    padding: 8px;
  }

  &--small svg {
    width: 20px;
    height: 20px;
  }

  &.radio-mui-color {
    &--primary {
      color: var(--primary);
    }

    &--secondary {
      color: var(--error);
    }
  }
}
