@import 'src/assets/styles/mixins';

.root {
  padding-top: 24px;
  padding-bottom: 24px;

  @include mq(lg-down) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
