.components {
  display: flex;

  &__nav {
    padding: 20px 0;
    width: 20%;
    background-color: var(--white);
  }

  &__nav-link {
    display: block;
    padding: 10px 20px;
    font-weight: 500;

    &.active,
    &:hover {
      color: var(--white);
      background-color: var(--info);
    }
  }

  &__content {
    width: 80%;
  }
}
