@import 'src/assets/styles/mixins';

.root {
  display: flex;

  :global(.demo-article) {
    border: 1px solid var(--gray);
    border-radius: 4px;
  }
}

.nav {
  overflow-y: auto;
  padding: 20px 0;
  width: 20%;
  background-color: var(--white);
  height: calc(100vh - 156px);
  @include scrollbar(8px, #b8c8d6, var(--white), 5px, 2px);

  &Link {
    display: block;
    padding: 10px 20px;
    font-weight: 500;

    &:global(.active),
    &:hover,
    &:focus-visible {
      color: var(--white);
      background-color: var(--info);
    }
  }
}

.content {
  overflow-y: auto;
  padding: 32px;
  width: 80%;
  height: calc(100vh - 156px);
  scrollbar-gutter: stable;
  @include scrollbar(15px, var(--primary), var(--light), 5px, 2px);
}
