.accordion-mui {
  .accordion-mui-item {
    color: #ffffff;
    background-color: var(--info);

    &--color-default {
      color: #ffffff;
      background-color: var(--info);
    }

    &--color-primary {
      color: #ffffff;
      background-color: var(--primary);
    }

    &--color-secondary {
      color: #ffffff;
      background-color: var(--error);
    }

    &--min-spaces {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    &__expand-icon {
      color: inherit;
    }
  }
}
