.accordion-mui {
  .accordion-mui-item {
    color: var(--primary);
    background-color: #ffffff;

    &--color-default {
      color: #ffffff;
      background-color: var(--info);
    }

    &--min-spaces {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    &__expand-icon {
      color: inherit;
    }
  }
}
