:root {
  --font: 'Inter', sans-serif;
  --subfont: 'Montserrat', sans-serif;

  --primary: #204569;
  --secondary: #0a2540;
  --error: #e44b4b;
  --warning: #ffae00;
  --info: #3796f6;
  --success: #2cc197;
  --light: #ebf3fa;
  --dark: #212529;

  --white: #ffffff;
  --black: #000000;

  --container: 1390px;
  --small-container: 890px;

  --xs: 575px;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}
