.auth-page {
  display: flex;
  height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--white);
  }
}

.auth-box {
  margin: auto;
  padding: 24px;
  width: 100%;
  max-width: 530px;

  &__title {
    margin-bottom: 16px;
  }

  &__desc {
    margin-bottom: 72px;
  }

  &__input {
    margin-bottom: 48px;
  }

  &__res-pass-wrap {
    position: relative;
  }

  &__res-pass-link {
    position: absolute;
    top: -18px;
    right: 0;
    font-size: 10px;
    line-height: 13px;
    font-weight: 600;
  }

  &__input-group {
    display: flex;
    gap: 24px;
  }

  &__rounded-wrap {
    margin-top: 64px;
    padding-top: 24px;
    padding-bottom: 32px;
    text-align: center;
    background: var(--light);
    border-radius: 8px;
  }

  &__btn {
    display: flex;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  &__footer {
    margin-top: 104px;
    text-align: center;
  }

  &__footer-text {
    margin-right: 16px;
  }

  &__link {
    font-weight: 700;
  }
}
